@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@font-face {
    font-family: urwood;
    src: url('../fonts/URWWoodTypD.ttf');
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
    color: white;
}

.navbar-nav .nav-link {
    color: white;
    font-family: Montserrat;
    margin-right: 50px;
}

.navbar-nav .nav-link:hover {
    color: red;
}

.margin-top {
    padding-top: 20vh;
}

.main {
    height: 100%;
    border: 1px solid white;
}

.margin-topp {
    margin-top: 40vh;
}

.bg-indo {
    background-image: url('../images/indonesia.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: 1290px;
    min-height: 50vh;
    /* border: 1px solid white; */
}

h1 {
    font-family: urwood;
    font-size: 60px;
}

h3 {
    font-family: urwood;
}

.tentang {
    margin-top: 20px;
    font-family: Montserrat;
    font-size: 14px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.visi {
    margin-top: 20px;
    font-family: Montserrat;
    font-size: 14px;
    max-width: 400px;
}

.subheading {
    font-family: urwood;
    font-size: 50px;
    color: red;
}

li.anjay {
    font-family: Montserrat;
    color: white;
    list-style: disc;
    margin-bottom: 1rem;
    font-size: 14px;
}

.visii {
    list-style: none;
}

.card {
    max-width: 10px;
    max-height: 20px;
    display: flex;
    font-size: 12px;
}

.ttg {
    background-image: url('../images/macan.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    /* border: 1px solid white; */
}

.tablle {
    margin-top: 2rem;
    margin-bottom: 100px;
    max-width: 500px;
    min-width: 370px;
}

@media screen and (max-width: 768px) {
    .tablle {
        margin-top: 100px;
    }
}

h5 {
    font-family: urwood;
    font-size: 14px;
    margin-top: 20px;
    text-align: center;
}

table tr td {
    width: 200px;
    ;
}

.galeri {
    width: 289px;
    height: 250px;
    border: 2px solid white;
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    transform-origin: 65% 75%;
    transition: transform 1s, filter .5s ease-out;
}

.galeri:hover {
    transition-delay: 0.5;
    -webkit-filter: none;
    transform: scale(2);
}

.my-input {
    background-color: transparent;
    border: 1px solid #8B8B8B;
    border-radius: 8;
    color: #8B8B8B;
    font-family: Montserrat;
    font-size: 12px;
    height: 58px;
    padding: 20px;
}

.my-input:focus {
    background-color: transparent;
    outline: none;
    border: 1px solid white;
}

.btn-kontak {
    background-color: #8B8B8B;
    color: black;
    font-family: Montserrat;
    font-size: 14px;
    height: 50px;
}

.footer {
    font-family: Montserrat;
    font-size: 14px;
}

.warna-footer {
    background: linear-gradient( to right, white 0, white 33.3%, red 33.3%, red 66.6%, yellow 66.6%, yellow)no-repeat;
    background-size: 100% 10px;
    padding: 5px;
    margin-top: 10px;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

#myBtn:hover {
    background-color: #555;
}